		@font-face {
		    font-family: avenirnormal;
		    src: url(/fonts/avenir-medium.otf);
		}

		@font-face {
		    font-family: avenirbold;
		    src: url(/fonts/avenir-bold.ttf);
		}

		@font-face {
		    font-family: avenirmedium;
		    src: url(/fonts/avenir-medium.otf);
		}

		.logo {
			width: 250px;
   	 		height: 300px;
		}

		.section {
			position: relative;
		}

		    .ornament-zig-L1,
		    .ornament-zig-L2,
		    .ornament-zig-S1,
		    .ornament-zig-S2,
		    .ornament-plus-L,
		    .ornament-plus-M1,
		    .ornament-plus-M2,
		    .ornament-plus-S1,
		    .ornament-plus-S2,
		    .ornament-plus-S3,
		    .ornament-plus-S4,
		    .ornament-plus-S5,
		    .ornament-plus-S6 {
		    	display: none;
		    }

		.active {
			display: block;
		}

		.btn-default {
			background-color: #fff !important;
		    border-color: #ccc !important;
		    margin: 10px !important;
		    padding: 25px 20px !important;
		    border-radius: 57px !important;
		    width: 240px !important;
		    font-family: avenirnormal !important;
		    color: #f16d9a !important;
		    border-color: #f16d9a !important;
		    border: 2px solid !important;
		}

		.p-about-id {
			color: #f06c99;
		    margin: 0 auto;
		    text-align: justify;
		    font-family: avenirnormal;
		    width: 710px;
		    font-size: 15px;
		}

		.p-about-jp {
			color: #f06c99;
		    margin: 0 auto;
		    text-align: justify;
		    font-family: avenirnormal;
		    width: 710px;
		    font-size: 18px;
		}


		@media screen and (min-device-width: 0px) and (max-device-width: 768px) {
		    /*.ornament1,
		    .ornament2,
		    .ornament3,
		    .ornament4,
		    .ornament-zig-L1,
		    .ornament-zig-L2,
		    .ornament-zig-S1,
		    .ornament-zig-S2,
		    .ornament-plus-L,
		    .ornament-plus-M1,
		    .ornament-plus-M2,
		    .ornament-plus-S1,
		    .ornament-plus-S2,
		    .ornament-plus-S3,
		    .ornament-plus-S4,
		    .ornament-plus-S5,
		    .ornament-plus-S6 {
		    	display: none;
		    }*/

		    .badge-img {
		    	width: 650px !important;
		    }
		}

		@media screen and (min-device-width: 0px) and (max-device-width: 576px){
			.col-sm-12 {
			    -ms-flex: 0 0 100% !important;
			    flex: 0 0 100% !important;
			    max-width: 100% !important;
			}

			.btn-default {
				font-size: 30px !important;
    			width: 500px !important;
			}

			#footer {
				font-size: 18px;
			}

			.lang {
				font-size: 18px !important;
			}

			.p-about-id,
			.p-about-jp {
				font-size: 22px;
			}
		}

		.badge-img {
			width: 450px;
		    margin: 30px 0;
		    z-index: 99;
		    position: relative;
		}

		.content-section1 {
		    text-align: center;
		    padding: 10px 100px;
		    margin: auto;
		}

		.a-reg {
			color: #f16d9a;
		}

		.a-reg:hover {
			color: #f16d9a;
			text-decoration: none;
		}

		.a-reg:focus {
		    outline: none !important;
		    outline-offset: -2px !important;
		    text-decoration: none !important;
		    color: #f16d9a !important;
		}

		.btn-default:focus {
			outline: none !important;
		}

		li{
			display: inline-block;
		}

		.id {
			margin: auto;
		}


		.nav{padding:5px 0}
		.nav .left ul{padding:10px;margin:0}
		.nav .left ul li{float:left;margin-right:10px;height:30px}
		.nav .left ul li.last{margin:0}
		.left ul li img{width:30px;height:30px}
		.nav .right ul{margin:0;}
		.nav .right ul li{float:left;margin:5px 10px 0 0}
		.nav .right ul li a{color:#FFFFFF;font-size:13px;text-transform:uppercase;font-weight:bold} 
		.nav .right ul li img{float:right;margin:-5px 10px 0 0;width:35px}
		.nav .right ul li.last{margin-right:0}
		.nav-menu {margin-bottom: 20px; font-weight: 600;}
		.nav-menu a {text-decoration: none;color: #C6C6C6;}
		.nav-menu a:hover {text-decoration: none;color: #C6C6C6;}
		.nav-menu a p {margin: 0 0 -10px;}
		/*.active {color: #FFCB00; border-bottom: 2px solid red;}*/
		.nav-a {background-color: white; padding: 5px 15px; border-radius: 20px; font-size: 22px; margin: 0 50px; color: grey; text-decoration: none;}
		.nav-a:hover {text-decoration: none; color: #23a0f2;}

		.nav{
			padding-left: 0;
		    margin-bottom: 0;
		    list-style: none;
		    position: absolute;
		    width: 100%;
		    top: 0px;
		    z-index: 10;
		    padding: 5px 10px !important;
		}

		.lang:hover {
			text-decoration: none;
		}
		.nav .left ul{padding:10px;margin:0}
		.nav .left ul li{float:left;margin-right:10px;height:30px}
		.nav .left ul li.last{margin:0}
		.left ul li img{width:30px;height:30px}
		.nav .right ul{margin:0;}
		.nav .right ul li{float:right;margin:5px 10px 0 0}
		.nav .right ul li a{color:#FFF200;font-size:13px;text-transform:uppercase;font-weight:bold} 
		.nav .right ul li img{float:left;margin:-5px 10px 0 0;width:35px}
		.nav .right ul li.last{margin-right:0}

		.nav .right {
			height: 26px;
    		float: right;
		}

		.nav .left {
			display: inline-block;
		}

		.nav #socmed {
			display: inline-flex;
		}

		.nav {
			font-family: avenirnormal;
		}

		.footer {
			font-family: avenirnormal;
		}

		.fancybox-nav {
		    display: none !important;
		    -moz-display: none !important;
		}

		.fancybox-close {
		    display: none !important;
		    -moz-display: none !important;
		}

		.fancybox-opened .fancybox-skin {
		    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5) !important;
		    -moz-box-shadow: 0 0px 0px rgba(0,0,0,.5) !important;
		    box-shadow: 0 0px 0px rgba(0,0,0,.5) !important;
		}

		.fancybox-skin {
		    position: relative !important;
		    background: transparent !important; 
		    -moz-background: transparent !important;
		    color: #444 !important;
		    text-shadow: none !important;
		    -webkit-border-radius: 4px !important;
		    -moz-border-radius: 4px !important;
		    border-radius: 4px !important;
		}

		.thumbnail a>img, .thumbnail>img {
		    width: 90% !important;
		}

		.panel-ofc {
			z-index: 99;
		}

